<div class="row">
    <div class="col-12">
        <div class="card jumbotron bg-white">
            <div class="card-body">
                <h1>Clientes</h1>
                <button type="button" class="btn waves-effect waves-light btn-outline-info pull-right" data-toggle="modal" data-target="#exampleModal" (click)="resetvalues()" >Agregar Cliente</button>
            </div>
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Nombre Usuario</th>
                        <th>Contraseña</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo Electronico</th>
                        <th>Edad</th>
                        <th>Estatura</th>
                        <th>Peso</th>
                        <th>IMC</th>
                        <th>GEB</th>
                        <th>ETA</th>
                        <th>Fecha Creacion</th>
                        <th>Fecha Actualizacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let clientes of Clientes">
                        <td>{{clientes.Nombre_Usuario}}</td>
                        <td>{{clientes.Contrasena}}</td>
                        <td>{{clientes.Nombre}}</td>
                        <td>{{clientes.Apellidos}}</td>
                        <td>{{clientes.Correo_Electronico}}</td>
                        <td>{{clientes.Edad}}</td>
                        <td>{{clientes.Estatura}}</td>
                        <td>{{clientes.Peso}}</td>
                        <td>{{clientes.IMC}}</td>
                        <td>{{clientes.GEB}}</td>
                        <td>{{clientes.ETA}}</td>
                        <td>{{clientes.Fecha_Creacion | date:'yyyy/MM/dd'}}</td>
                        <td>{{clientes.Fecha_Actualizacion | date:'yyyy/MM/dd'}}</td>
                        <td><i data-toggle="modal" data-target="#exampleModal" title="Editar" class="fa fa-pencil" (click)="passValues(clientes)"></i> 
                            | <i title="Eliminar" class="fa fa-trash" (click)="delete(clientes.Id)"></i>  
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark" style="color:white">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="!isEdit">Agregar Cliente</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="isEdit">Editar Articulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formCliente" (ngSubmit)="saveChanges(formCliente.value)" novalidate>
                    <div class="form-group row">
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Nombre Usuario</label>
                           <input class="form-control" type="text" formControlName="Nombre_Usuario">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Contraseña</label>
                           <input class="form-control" type="text" formControlName="Contrasena">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Nombres</label>
                           <input class="form-control" type="text" formControlName="Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Apellidos</label>
                           <input class="form-control" type="text" formControlName="Apellidos">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Correo Electronico</label>
                           <input class="form-control" type="text" formControlName="Correo_Electronico">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Edad</label>
                           <input class="form-control" type="text" formControlName="Edad">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Estatura</label>
                           <input class="form-control" type="text" formControlName="Estatura">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Peso</label>
                           <input class="form-control" type="text" formControlName="Peso">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">IMC</label>
                           <input class="form-control" type="text" formControlName="IMC">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">GEB</label>
                           <input class="form-control" type="text" formControlName="GEB">
                        </div>
                        <div class="col">
                            <label for="staticEmail" class="col-sm-6 col-form-label">ETA</label>
                           <input class="form-control" type="text" formControlName="ETA">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="inputPassword" class="col-sm-2 col-form-label"></label>
                            <button type="submit" class="btn btn-info btn-block" >
                    Guardar
              </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
